.vs/
/XBCAD/obj/Debug/net8.0/XBCAD.sourcelink.json
/XBCAD/obj/Debug/net8.0/XBCAD.sourcelink.json
/XBCAD/path/to/alleysway-310a8-firebase-adminsdk-n95a3-aecccacac4.json
*.json
/XBCAD/bin/Debug/net8.0/XBCAD.dll
/XBCAD/bin/Debug/net8.0/XBCAD.exe
/XBCAD/bin/Debug/net8.0/XBCAD.pdb
/XBCAD/bin/Debug/net8.0/XBCAD.staticwebassets.runtime.json
/XBCAD/obj/Debug/net8.0/apphost.exe
/XBCAD/obj/Debug/net8.0/ref/XBCAD.dll
/XBCAD/obj/Debug/net8.0/refint/XBCAD.dll
/XBCAD/obj/Debug/net8.0/staticwebassets.build.json
/XBCAD/obj/Debug/net8.0/staticwebassets.development.json
/XBCAD/obj/Debug/net8.0/staticwebassets.pack.json
/XBCAD/obj/Debug/net8.0/XBCAD.AssemblyInfo.cs
/XBCAD/obj/Debug/net8.0/XBCAD.AssemblyInfoInputs.cache
/XBCAD/obj/Debug/net8.0/XBCAD.assets.cache
/XBCAD/obj/Debug/net8.0/XBCAD.csproj.AssemblyReference.cache
/XBCAD/obj/Debug/net8.0/XBCAD.csproj.CoreCompileInputs.cache
/XBCAD/obj/Debug/net8.0/XBCAD.dll
/XBCAD/obj/Debug/net8.0/XBCAD.GeneratedMSBuildEditorConfig.editorconfig
/XBCAD/obj/Debug/net8.0/XBCAD.genruntimeconfig.cache
/XBCAD/obj/Debug/net8.0/XBCAD.pdb
/XBCAD/obj/project.assets.json
/XBCAD/obj/project.nuget.cache
/XBCAD/obj/XBCAD.csproj.nuget.dgspec.json
/XBCAD/obj/XBCAD.csproj.nuget.g.props
