@model IEnumerable<XBCAD.ViewModels.Trainer>

@{
    ViewData["Title"] = "Book a Trainer";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="trainer-selection-container">
    <h2>Book session with a Trainer</h2>
    <p>Select a trainer to work with</p>
    <div class="trainer-list">
        @foreach (var trainer in Model)
        {
            <div class="trainer-card">
                <img src="@trainer.ProfilePictureUrl" alt="@trainer.Name" class="trainer-image" />
                <div class="trainer-info">
                    <h4>@trainer.Name</h4>
                    <p>@trainer.HourlyRate/hour</p>
                </div>
            </div>
        }
    </div>
    <button class="btn btn-select">Trainer Selected</button>
</div>
