@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger" style="align-self:center">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<p>
    Please try that again.
</p>
<p><strong>OR</strong></p>
<p>
    Please send an email to the developers at <strong>techtitans0907@gmail.com</strong> explaining what the error was so that we can try fix it in a future update.
</p>
